[Unit]
Description=Kitty Bot
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
Environment=NODE_VERSION=20
ExecStart=/home/matt/.nvm/nvm-exec /home/matt/kittybot/run.sh
WorkingDirectory=/home/matt/kittybot
User=matt

[Install]
WantedBy=multi-user.target